@import "../styles/variables";

.ce-chat-engine {
  margin-left: 33%;
  margin-right: 5%;
  // margin-bottom: 3%;
  padding-top: 3%;
  // padding-bottom: 3%;
  background-color: transparent !important;
}

#ce-ice-breaker-gif {
  display: none;
}

.ce-wrapper {
  margin-left: 10px !important;
  margin-right: 10px !important;
  // margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid #eaeaeade;
  border-radius: 5px;
  // padding: 5px;
}

.ce-chat-list-column {
  height: 90vh !important;
}

#new-chat-plus-button {
  background-color: $fourth-color !important;

  &:hover {
    background-color: $primary-color !important;
  }
}

.anticon {
  vertical-align: 0.1em !important;
}

.ce-chat-list {
  background-color: transparent !important;
}

.ce-chat-form-container {
  background-color: transparent !important;
}

.ce-chats-container {
  // background-color: transparent !important;
  background-color: rgba(255, 255, 255, 0.6) !important;
}

.ce-active-chat-card {
  background-color: rgba(217, 217, 217, 0.6) !important;
}

.ce-chat-feed-column {
  height: 90vh !important;
}

.ce-chat-feed{
  background-color: rgba(255, 255, 255, 0.6) !important;
  padding-left: 8px;
}

.ce-chat-title {
  width: 98% !important;
  background-color: transparent !important;
}

.ce-chat-title-container {
  color: black !important;
}

.ce-chat-unread-dot {
  background-color: $fourth-color !important;
}

#ce-feed-container {
  background-color: transparent !important;
}

.ce-message-timestamp {
  color: rgb(205, 205, 205) !important;
}

.ce-my-message-bubble {
  color: black !important;
  background-color: $primary-color !important;
  background-color: $fourth-color !important;
}

.ce-their-message-bubble {
  background-color: #fce8ab !important;
}

#msg-form-container {
  width: 98% !important;
  bottom: 3px !important;
  right: 4px;
}

#ce-send-message-button {
  background-color: $fourth-color !important;
  
  &:hover {
    background-color: $primary-color !important;
  }
}

.ce-settings {
  background-color: rgba(255, 255, 255, 0.6) !important;
}

.ce-settings-column {
  height: 90vh !important;
}

.ce-section-title-container {
  background-color: transparent !important;
}

#ce-options-drop-down {
  background-color: transparent !important;
}

label {
  display:block !important;
}

.ql-bold {
  display: none !important;
}

.ql-italic {
  display: none !important;
}

.ql-underline {
  display: none !important;
}

.ql-strike {
  display: none !important;
}

.ql-code {
  display: none !important;
}

.ql-link {
  display: none !important;
}