@import '../styles/variables';

.comments-container {
  
  padding-top: 0.5em;

  .commentator {
    cursor: pointer;
  }
  
  .comment-image {
      max-height: 50px;
      width: 50px;
      object-fit: cover;
      //border-radius: 50px;
  }

  .date {
    color: grey;
    font-size: 0.6em;
    font-family: $secondary-font;
  }



}