@import '../styles/variables';

.create-post__container {
  margin-left: 6em;
  margin-bottom: 2em;
  margin-top: 2.5em;
  padding: 15px 15px 15px 15px;
  width: 45em;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px;
  //border-radius: 25px;
  font-size: 1.2rem;
  background-color: white;

  input {
    width: 100%;
    margin-bottom: 15px;
    padding: 8px;
    border: 2px solid $secondary-color;
    outline: none;
    border-radius: 10px;
    padding-left: 0.5em;
    font-family: $secondary-font;

  }
}

.upload {
  margin-left: -25em;
}

.create-post__buttons {
  display: flex;
  flex-flow: row;
  justify-content: space-between;

  button {
    border-radius: 10px;
    padding: 7px 25px;
    border: none;
    outline: none;
    background-color: $primary-color;
  }

  // button:hover {
  //   background-color: $tertiary-color;
  // }
}

.uploadInput {
  border: none;
  outline: none;

}