@import "../styles/variables";


.friend-card-pending {
  display: block;
  margin-bottom: 1em;
  margin-top: 1em;

  .friend-info {
    display: -webkit-inline-flex;
  }

  .friend-pending-picture {
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
  }

  .name {
    margin-left: 1em;
    margin-top: 2em;
    font-family: $secondary-font;
    font-weight: bold;
    cursor: pointer;
  }
}
.pending {
  //margin-top: 0.7rem;
  background-color: #edeaea;
}


.friend-pending-btn {
  float: right;
  margin-top: 2em;

  .btn {
    border: none;
    background-color: $fourth-color;
    height: 2.5em;
    border-radius: 10px;
    //font-weight: bold;
    width: 120px;
  }
}
