@import "../styles/variables";

.friendships-container {
  margin-left: 33em;
  padding-top: 1%;
  padding-bottom: 5em;
  margin-right: 2.5em;

  .friend-title {
    // margin-top: 2em;
    // margin-right: 3.5em;
    //background-image: linear-gradient(30deg, $primary-color 40%, $secondary-color 60%);
    //background-color: red;
    font-family: $secondary-font;
    font-size: 30px;
    font-weight: bold;
    all: unset;
  }
}

.accordion-button {
  background-color: $secondary-color !important;  
  //background-image: linear-gradient(30deg, $primary-color, $secondary-color 90%) !important;
  font-family: $primary-font;
  font-size: 20px;
  font-weight: bold;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  color: #212529;
  background-color: $primary-color !important;
}

.friends-list {
  //display: flex;
  width: 100%;
  // justify-content: center;
  // gap: 30px;
  // flex-wrap: wrap;
  // margin-left: 7em;
  // padding-bottom: 2em;
  // margin-top: 1.5em;
} 