@import "../styles/variables";

.friendships-container {
  margin-left: 25%;
  padding-top: 1%;
  padding-bottom: 2%;
}

.friends-list {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}