@import "../styles/variables";

.pending {
  background-color: #edeaea;
}

.pending-name {
  margin-top: 12px;
  margin-bottom: 0.7rem;
  text-align: center;
  cursor: pointer;
  font-size: large;
  font-weight: bold;
}

button.accept {
  background-color: #59d169;
}

button.decline {
  background-color: red
}