@import "../styles/variables";

.friend-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px;
  padding: 20px 20px 20px 20px;
  border-radius: 20px;
  width: 20vw;

  &:hover {
    transform: scale(1.1);
  }
}

.friend-info {
  display: flex;
  flex-direction: column;
  align-items: center;

  .friend-picture {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    cursor: pointer;
  }

  .friend-name {
    margin-top: 12px;
    margin-bottom: 0.1rem;
    text-align: center;
    cursor: pointer;
    font-size: large;
    font-weight: bold;
  }

  .friend-date {
    font-size: small;
    color: grey;
    font-style: italic;
  }
}

.friend-actions {
  display: flex;
  gap: 1.5vw;

  button {
    border-radius: 4px;
    border: 1px solid #000;
    width: 8vw;
    background-color: $primary-color;
    color: black;
    text-align: center;
    box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
    height: 8vh;
    cursor: pointer;

    &:hover {
      background-color: black;
      color: white;
    }
  }

  span {
    font-size: 80%;
  }
}