@import '../styles/variables';

.main-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: white;
  color: $other-color;
  background-color: $secondary-color;
}

.feed-container {
  display: flex;
  flex-flow: column;
  align-items: center;
}