@import '../styles/variables';

.main-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  color: $other-color;
  background-color: $secondary-color;
  padding-left: 400px;
}

.feed-container {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.top-navbar {
  width: 700px;
  height: 7vh;
}