@import '../styles/variables';

.main-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: white;
  color: $other-color;
  background-color: $secondary-color;
}

.feed-container {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.top-navbar {
  background-color: #ffcd32;
    margin-left: 25%;
    width: 75%;
    height: 7vh;
}