@import '../styles/variables';

.color-when-true {
  color: red;
}

.post-body {
  display: flexbox;
  margin-left: 6em;
  //padding: 10px 10px 10px 10px;
  width: 45em;
  // width: 35em;
  box-shadow: rgba(0, 0, 0, 0.10) 0px 5px 15px;
  //border-radius: 25px;
  font-family: $secondary-font;
  font-size: 1.2rem;
  background-color: white;
  margin-bottom: 2em;

  // &:hover {
  //   transform: scale(1.0018);
  // }

  .post-image {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    //border-radius: 10px;
  }
}
  
.post-text {
  padding-top: 13px;
}

.edit-delete {
  margin-left: auto;
  //padding-top: 0.5em;
  cursor: pointer;
  color: grey;

  #edit:hover {
    color: rgb(57, 138, 165);
  }

  #delete:hover {
    color: red;
  }

  
}

.input-field-post {
  width: 100%;
  padding: 10px;
  border: 1px solid #dfdfdf;
  font-family: $secondary-font;
}

.post-content {
  font-family: $secondary-font;
  font-size: 1em;
  margin-left: 1.5em;
  //margin-bottom: 1em;
}

.image-container {
  margin-top: 1em;
  margin-bottom: 1em;

  .date {
    float: right;
    margin-right: 1em;
    padding-top: 1em;
    color: grey !important;
    font-size: 0.6em !important;
    font-family: $secondary-font;
  }
}

.post-title {
  display: flex;
  align-content: center;
  align-items: center;
  //flex-flow: row;
  //height: 60px;
  //max-width: 700px;
  //background-color: $secondary-color;
  //border-radius: 50px;
  font-family: $secondary-font;
  padding-top: 0.5em;
  padding-left: 0.5em;
  margin-left: 1em;
  margin-bottom: 1em;

  

  img {
    height: 60px;
    width: 60px;
    object-fit: cover;
    border-radius: 50px;
    cursor: pointer;
  }
  
  .creator {
    padding-left: 0.5em;
    cursor: pointer;
    font-weight: bold;
  }
}

.post-like-comment {
  display: flex;
  padding-top: 10px;
} 

.post-like-comment {
  //float: right;
  padding-right: 1em;

  i {
    padding-right: 0.4em;
  }
  span {
    padding-left: 1em;
    cursor: pointer;
  }
}

.post-comment {
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  margin-bottom: 1em;
  // white-space: nowrap;
  // display: inline-block;
  display:-webkit-inline-flex;

  img {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50px;
    cursor: pointer;
    margin-right: 0.5em;
  }

  .input-comment {
    width: 73vh;
    height: 2.5em;
    padding-left: 0.5em;
    font-family: $secondary-font;
    border-radius: 7px;
    border-color: $primary-color;
    border-style:solid;
  }

  .add-comment-btn {
    height: 2.5em;
    border: none;
    background-color: $primary-color;
    border-radius: 7px;
  }
}

.red {
  color: red;
}

.black {
  color: black;
}
