@import '../styles/variables';

.post-body {
  //padding: 10px 10px 0px 10px;
  width: 700px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 25px;

  &:hover {
    transform: scale(1.01);
  }

  .post-image {
    height: 80vh;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  
  p {
    padding-top: 10px;
  }
}

.post-title {
  display: flex;
  flex-flow: row;
  height: 50px;
  max-width: 700px;
  background-color: $primary-color;
  border-radius: 50px;

  img {
    max-height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50px;
  }
  
  h4 {
    margin: 10px 0 0 10px;
  }
}

.post-like-comment {
  display: flex;
  padding-top: 10px;
  align-items: center;

  i {
    padding: 10px 10px 20px 0;
  }

  // 
  .fa-paw {
    scale: 1.1;

    &:hover {
      color: red;
    }
  }

  .fa-comments {
    scale: 1.1;

    &:hover {
      color: blue;
    }
  }

  i {
    // display: block;
    // margin-left: auto;
    // margin-right: 0;
    text-align: right;
  }
} 
