@import '../styles/variables';

.color-when-true {
  color: red;
}

.post-body {
  margin: 25px 0px;
  padding: 10px 10px 10px 10px;
  width: 700px;
  box-shadow: rgba(0, 0, 0, 0.10) 0px 5px 15px;
  border-radius: 25px;
  font-family: $secondary-font;
  font-size: 1.2rem;
  background-color: white;

  &:hover {
    transform: scale(1.0018);
  }

  .post-image {
    height: 80vh;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
}
  
.post-text {
  padding-top: 13px;
}

.edit-delete {
  display: flex;
  margin-left: 22em;
  padding-top: 0.5em;
  cursor: pointer;
  color: grey;

  #edit:hover {
    color: rgb(57, 138, 165);
  }

  #delete:hover {
    color: red;
  }

  
}

.input-field-post {
  width: 100%;
  padding: 10px;
  border: 1px solid #dfdfdf;
  font-family: $secondary-font;
}

.post-content {
  font-family: $secondary-font;
  font-size: 1.25em;
}

.post-title {
  display: flex;
  flex-flow: row;
  height: 60px;
  max-width: 700px;
  background-color: $secondary-color;
  border-radius: 50px;
  font-family: $primary-font;

  .date {
    color: grey;
    font-size: 0.6em;
    font-family: $secondary-font;
  }

  img {
    max-height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50px;
    cursor: pointer;
  }
  
  h4 {
    margin: 11px 0 0 10px;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

.post-like-comment {
  display: flex;
  padding-top: 10px;

  i {
    padding: 10px 10px 10px 0;
  }

  // 
  .fa-paw {
    scale: 1.1;

    &:hover {
      // color: rgb(255, 64, 0);
      color: $primary-color;
    }
  }

  .fa-comments {
    scale: 1.1;

    &:hover {
      // color: rgb(0, 115, 255);
      color: $primary-color;
    }
  }

  i {
    // display: block;
    // margin-left: auto;
    // margin-right: 0;
    text-align: right;
  }
} 

.post-like-comment {
  float: right;

  span {
    padding-left: 1em;
    cursor: pointer;
  }
}

.post-footer {
  form {
    padding-bottom: 2em;
  }
  .add-comment {
    width: 100%;
    padding: 10px;
  }

  .add-comment-btn {
    float: right;
  }

}

.red {
  color: red;
}

.black {
  color: black;
}
