@import "../styles/variables";

.main {
  margin-left: 30%;
  padding-top: 2em;

  .profile-card {
    font-family: $secondary-font;
    width: 54em;
    margin-left: 65px;
    padding-top: 1em;
    display: flex;
    flex-flow: column;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }

  .profile-image__container {
    text-align: center;
    display: flex;
    flex-flow: column;
    
    .profile-image {
      height: 150px;
      width: 150px;
      object-fit: cover;
      border-radius: 50%;
      margin-bottom: 10px;
    }

    .edit {
      margin-bottom: 10px;

      &:hover {
        color: rgb(57, 138, 165);
      }
    }

    .profile-name {
      font-family: $secondary-font;
      font-weight: bold;
      font-size: 22px;
    }
  }

  .profile-info {
    display: flex;

    .profile-title {
      font-weight: bold;
      font-size: 18px;
    }
    
    p {
      padding-right: 25px;
    }
  }

  .profile__btns {
    padding-bottom: 20px;

    .profile__btn {
      outline: none;
      border: none;
      margin: 0 20px;
      padding: 5px 10px;
      border-radius: 10px;
      background-color: $secondary-color;
    }
  }
}


// .main {
//   min-width: 750px;
//   max-width: 1000px;
//   height: 100vh;
//   margin-left: 30%;
//   margin-right: 5%;
//   padding-top: 2em;

//   .edit {
//     position: fixed;
//     margin-left: 60.5em;
//     top: 45px;
//     cursor: pointer;
//     color: grey;

//     &:hover {
//       color: rgb(57, 138, 165);
//     }
//   }

//   .profile-card {
//     padding-top: 1em;
//     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
//     display: flex;
//     align-items: center;
//     // background-color: $secondary-color;
//     background: linear-gradient(
//       to bottom, 
//       $tertiary-color 40%, 
//       white 40%,
//       white 100%
//       );

//     .profile-info {
//       padding-top: 130px;
//       padding-right: 50px;
//       display: flex;

//       .profile-right-side {
//         padding-left: 70px;
//         padding-right: 30px;
//       }

//       p {
//         margin-left: 20px;
//       }
//     }
//   }

//   .profile-image__container {
//     display: flex;
//     flex-flow: column;
//     align-items: center;
//     justify-content: space-between;
//   }

//   .profile-image {
//     // padding-top: 1em;
//     height: 200px;
//     width: 200px;
//     object-fit: cover;
//     border-radius: 50%;
//     margin-left: 1em;
//     // padding-bottom: 2em;
//   }

//   .profile-info {
//     display: flex;
//     flex-flow: column;
//     font-family: $secondary-font;
//     margin-left: 3em;
//     font-size: 20px;
//   }

//   .profile-name {
//     font-family: $secondary-font;
//     font-weight: bold;
//     font-size: 24px;
//     padding-top: 20px;
//   }

//   .profile-title {
//     font-family: $secondary-font;
//     color: $primary-color;
//     font-weight: bold;
//   }

//   .profile__btns {
//     display: flex;
//     flex-flow: column;
//     margin-top: 110px;
//     margin-left: 50px;
//   }
  
//   .profile__btn {
//     outline: none;
//     border: none;
//     background-color: $secondary-color;
//     height: 60px;
//     width: 160px;
//     border-radius: 10px;
//     margin-left: 15px;
//     margin-bottom: 20px;
//     margin-top: 15px;

//     &:hover {

//     }
//   }

//   .profile__btn {
//     max-height: 60px;
//     max-width: 160px;
//     appearance: button;
//     background-color: $primary-color;
//     background-image: none;
//     border: 1px solid #000;
//     border-radius: 4px;
//     box-shadow: $secondary-color 4px 4px 0 0,#000 4px 4px 0 1px;
//     box-sizing: border-box;
//     color: black;
//     cursor: pointer;
//     display: inline-block;
//     font-size: 14px;
//     font-weight: 400;
//     line-height: 20px;
//     margin: 0 5px 10px 0;
//     overflow: visible;
//     padding: 12px 40px;
//     text-align: center;
//     text-transform: none;
//     touch-action: manipulation;
//     user-select: none;
//     -webkit-user-select: none;
//     vertical-align: middle;
//     white-space: nowrap;
//     font-weight: bold;
//     font-family: $secondary-font;
//     text-decoration: none;
// }

// .profile__btn:focus {
//   text-decoration: none;
// }

// .profile__btn:hover {
//   text-decoration: none;
// }

  // .posts-container {
  //   padding-top: 1em;
  //   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;
  //   width: 100%;
  //   margin-top: 5em;

  // }

  .posts-container {
    margin-top: 3em;
    margin-left: -50px;
  }

  .input-field {
    width: 90%;
    padding: 3px;
    border: 1px solid #dfdfdf;
  }
  
// }

