@import "../styles/variables";

.sidebar {
  padding: 15px;
  background-color: $secondary-color;
  width: 25%;
  height: 100vh;
  position: fixed;
  display: flexbox;
  align-items: center;
  justify-content: center;
  //text-decoration: none !important;

  .side-logo {
    margin-left: 8em;
  }

  .side-name {
    font-family: $primary-font;
    font-size: 50px;
    text-align: center;
    margin-top: -3px;
    text-decoration: none !important;
    color: black;
    margin-bottom: 1em;
    
  }

  .side-profile {
    display: flex;
    align-items: center;
    margin-left: 2em;
  }

  .side-friends {
    display: flex;
    align-items: center;
    margin-left: 2em;
    margin-top: 1em;
  }

  .name {
    margin-left: 1em;
    font-family: $secondary-font;
    font-weight: bold;
    color: black;
  }

  .side-profile-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
  }

  .side-friends-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
  }

  .side-footer-image {
    display: flex;
    margin-left: 23em;
    position: absolute;
    bottom:0px;
    width: 20%;
  }

  .other-name {
    margin-left: 1em;
    font-family: $secondary-font;
    font-weight: bold;
    color: black;
  }

  .logout {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16em;
    
  }

  .logout__btn {
    background-color: $primary-color;
    border: 0 solid #E5E7EB;
    box-sizing: border-box;
    color: #000000;
    display: flex;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.75rem;
    padding: .75rem 1.65rem;
    position: relative;
    text-align: center;
    text-decoration: none #000000 solid;
    text-decoration-thickness: auto;
    width: 40%;
    max-width: 460px;
    position: relative;
    cursor: pointer;
    transform: rotate(-2deg);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    font-family: $secondary-font;
    padding-left: 4em;

  }

  .logout__btn:focus {
    outline: 0;
  }
  
  .logout__btn:after {
    content: '';
    position: absolute;
    border: 1px solid #000000;
    bottom: 4px;
    left: 4px;
    width: calc(100% - 1px);
    height: calc(100% - 1px);
  }
  
  .logout__btn:hover:after {
    bottom: 2px;
    left: 2px;
  }
}