@import "../styles/variables";

.sidebar {
  // background-color: white;
  // background-image: url('../../public/images/wave-test1.svg');
  // background-image: url('../../public/images/wave-test2.svg');
  background-image: url('../../public/images/wave-test3.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 30%;
  height: 100%;
  position: fixed;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  z-index: 9999;
  // box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px;
  //text-decoration: none !important;

  .logo-section {
    display: flex;
    align-items: center;
    margin-top: 1em;
    margin-left: 1em;
    gap: 0.9em;

    .side-logo {
      width: 8em;
      height: 4.5em;
      border-radius: 75px;
      object-fit: cover;
    }

    .side-name {
      font-family: $primary-font;
      font-size: 3rem;
      margin: auto auto auto 0;
      // padding-top: 5px;
      // text-align: center;
      text-decoration: none !important;
      color: black;
    }
  }

  .side-profile {
    display: flex;
    align-items: center;
    margin-top: 3em;
    margin-left: 2em;
    gap: 0.9em;

    &:hover {
      background-color: #0000001e;
      // transform: scale(1.05)
    }
    
    .side-profile-image {
      width: 70px;
      height: 70px;
      object-fit: cover;
      border-radius: 50%;
      cursor: pointer;
    }

    .name {
      font-family: $secondary-font;
      font-weight: bold;
      color: black;
    }
  }

  .side-friends {
    display: flex;
    align-items: center;
    margin-left: 1em;
    margin-top: 1em;

    &:hover {
      background-color: #0000001e;
      // transform: scale(1.05)
    }
  }

  .side-friends-image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    cursor: pointer;
  }

  .other-name {
    margin-left: 1em;
    font-family: $secondary-font;
    font-weight: bold;
    color: black;
  }

  .logout {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16em;
    
  }

  .logout__btn {
    // background-color: $primary-color;
    background-color: black;
    border: 0 solid #E5E7EB;
    box-sizing: border-box;
    // color: #000000;
    color: white;
    display: flex;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.75rem;
    padding: .75rem 1.65rem;
    position: relative;
    text-align: center;
    text-decoration: none #000000 solid;
    text-decoration-thickness: auto;
    width: 40%;
    max-width: 460px;
    position: relative;
    cursor: pointer;
    transform: rotate(-2deg);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    font-family: $secondary-font;
    padding-left: 4em;

  }

  .logout__btn:focus {
    outline: 0;
  }
  
  .logout__btn:after {
    content: '';
    position: absolute;
    border: 1px solid #000000;
    bottom: 4px;
    left: 4px;
    width: calc(100% - 1px);
    height: calc(100% - 1px);
  }
  
  .logout__btn:hover:after {
    bottom: 2px;
    left: 2px;
  }

  // .side-footer-image {
  //   display: flex;
  //   margin-left: 23em;
  //   position: absolute;
  //   bottom:0px;
  //   width: 20%;
  // }
}